.neon-title-animation {
  -webkit-text-stroke: 1px white; /* width and color */
  color: rgba(255, 255, 255, 0.2);
  /* text-shadow: 0 0 35px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 1); */
  animation: neon-swip 2s infinite;
  animation-timing-function: step-end;
}

@keyframes neon-swip {
  0% {
    -webkit-text-stroke: 1px #00ffff; /* width and color */
    text-shadow: 0 0 35px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 1);
    color: rgba(0, 255, 255, 0);
  }
  15% {
    -webkit-text-stroke: 1px #00ffff; /* width and color */
    text-shadow: 0 0 35px rgba(0, 255, 255, 0), 0 0 30px rgba(0, 255, 255, 0);
    color: rgba(0, 255, 255, 0.2);
  }
  25% {
    -webkit-text-stroke: 1px white; /* width and color */
    text-shadow: 0 0 35px rgba(0, 255, 255, 0), 0 0 30px rgba(0, 255, 255, 0);
    color: rgba(0, 255, 255, 0);
  }
  35% {
    -webkit-text-stroke: 1px #00ffff; /* width and color */
    text-shadow: 0 0 35px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 1);
    color: rgba(0, 255, 255, 0.5);
  }
  50% {
    -webkit-text-stroke: 1px white; /* width and color */
    text-shadow: 0 0 35px rgba(0, 255, 255, 0), 0 0 30px rgba(0, 255, 255, 0);
    color: rgba(0, 255, 255, 0);
  }
  65% {
    -webkit-text-stroke: 1px #00ffff; /* width and color */
    text-shadow: 0 0 35px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 1);
    color: rgba(0, 255, 255, 1);
  }
  80% {
    -webkit-text-stroke: 1px white; /* width and color */
    text-shadow: 0 0 35px rgba(0, 255, 255, 0), 0 0 30px rgba(0, 255, 255, 0);
    color: rgba(0, 255, 255, 0);
  }
  100% {
    -webkit-text-stroke: 1px #00ffff; /* width and color */
    text-shadow: 0 0 35px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 1);
    color: rgba(0, 255, 255, 1);
  }
}
